/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kairos Nextflow config file | adapted from nf-core/mag
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
	taxa_df = null
	input_contigs = null	
	input_reads = null
	outprefix = 'kairos'    

// dereplication and detection parameters

	mmseqs_prot_cov = 0.3
	mmseqs_prot_id = 0.99
	mmseqs_prot_cov_mode = 1
	mmseqs_contig_cov = 0.6
	mmseqs_contig_id = 0.99
	mmseqs_contig_cov_mode = 1
	max_overlap = 0.5
	min_orfs = 1
	
// orf annotation and HGT-scoring parameters

	target_database=null
	MGE_database=null
	MGE_id = 0.3
	MGE_e = 1e-5
	target_id = 80 
	target_e = 1e-10
	target_query_cover = 0.8
	max_dist_closest_MGE = 5000 

// Kairos assess options

	edge_length=75	
        mmseqs_windows_cov = 0.88
	mmseqs_windows_id = 0.99
        mmseqs_windows_cov_mode = 1

    // Boilerplate options
    outdir                               = null
    publish_dir_mode                     = 'copy'
    tracedir                             = "${params.outdir}/pipeline_info"
    email                                = null
    email_on_fail                        = null
    plaintext_email                      = false
    monochrome_logs                      = false
    help                                 = false
    validate_params                      = true
    show_hidden_params                   = false
    schema_ignore_params                 = 'genomes'
    enable_conda                         = false


    // Config options
    custom_config_version                = 'master'
    custom_config_base                   = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description           = null
    config_profile_contact               = null
    config_profile_url                   = null
    config_profile_name                  = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                           = '128.GB'
    max_cpus                             = 16
    max_time                             = '240.h'

}

