/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    hgt-support Nextflow config file | adapted from nf-core/mag
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input = null	
    
// dereplication and detection parameters
    mmseqs_prot_cov = 0.3
    mmseqs_prot_id = 0.99
	mmseqs_prot_cov_mode = 1
	mmseqs_contig_cov = 0.6
	mmseqs_contig_id = 0.99
	mmseqs_contig_cov_mode = 1
	max_overlap = 0.5
	min_orfs = 1

    // Boilerplate options
    outdir                               = null
    publish_dir_mode                     = 'copy'
    tracedir                             = "${params.outdir}/pipeline_info"
    email                                = null
    email_on_fail                        = null
    plaintext_email                      = false
    monochrome_logs                      = false
    help                                 = false
    validate_params                      = true
    show_hidden_params                   = false
    schema_ignore_params                 = 'genomes'
    enable_conda                         = false


    // Config options
    custom_config_version                = 'master'
    custom_config_base                   = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description           = null
    config_profile_contact               = null
    config_profile_url                   = null
    config_profile_name                  = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                           = '128.GB'
    max_cpus                             = 16
    max_time                             = '240.h'

}

